*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .logo {
    width: 50%;
    padding: 20px 10px;
} */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: lightpink;
    /* align-items: baseline; */
    /* padding: 20px 10px; */
    height: 70px;
    width: 100%;
    background-image: url(./image/kay\ logo.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    position: relative;
    padding: 10px;
}
.navlist {
    display: flex;
    list-style: none;
    justify-content: space-between;
    text-align: center;
    flex: 0.5;
}
.navitem {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: right;
}
.navitem a{
    color: black;
    text-decoration: none;
    font-size: 13px;
}
.navitem::after{
    content: '';
    width: 0%;
    height: 2px;
    background: orangered;
    display: block;
    margin: auto;
    transition: 0.5s;
} 
.navitem:hover::after{
    width: 100%;
}
.for{
    width: 80%;
    text-align: center;
    display: flex;
    margin: auto;
    position: relative;
}
.color{
    color: #f44336;
}
img{
    max-width: 50%;
    /* border: solid 2px red; */
    flex-basis: 31%;
    /* border-radius: 10px; */
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    margin: auto;
    margin-left: 90px;
}
.phelp{
    color: black;
    text-align: left;
}
.text{
    justify-content: space-between;
}

h2{
    font-size: 30px;
    text-align: left;
}
.submit{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    font-size: 15px;
    background: #f44336;
    position: relative;
    cursor: pointer;
    border-radius: 6px;
    transition: 1s;
}
.hero-btn{
    color: #fff;
    text-decoration: none;
}

/* -----body----- */
.body{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 5px;
}
.pp{
    text-align: center;
}
.clone{
    max-width: 100%;
    margin-left: 80px;
}
.phelp2{
    color: black;
    text-align: left;
}
.submit2{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 1px 20px;
    font-size: 5px;
    background: black;
    position: relative;
    cursor: pointer;
    border-radius: 6px;
    transition: 1s;
    width: 150px;
    height: 60px;
    text-align: center;
}
.hero-btn2{
    color: #fff;
    text-decoration: none;
}
.pg{
    font-size: 10px;
    padding-top: 1px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}
.submit1{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 1px 20px;
    font-size: 5px;
    background: black;
    position: relative;
    cursor: pointer;
    border-radius: 6px;
    transition: 1s;
    width: 150px;
    height: 60px;
    text-align: center;
}
.hero-btn1{
    color: #fff;
    text-decoration: none;
}
.pg1{
    font-size: 10px;
    padding-top: 1px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}





















/* --------footer----- */
.footer{
    width: 80%;
    margin: auto;
    text-align: center;
}
p{
    color: white;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: left;
}
.kennyrow{
    display: flex;
    justify-content: space-between;
    background-color: #ee756c;
    height: 240px;
}
.kenny-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
    text-align: left;
    font-weight: 600;
    margin: 10px 0;
    color: white;
}
